
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nothing+You+Could+Do&display=swap');

.nav-link {

    font-weight: 500;
    border: 0%;

}

.col-md-page{
    background-image: url(images/back-1.jpg);
}
.page{
    
    background-image: url(images/car-1\ -\ Copy.jpg);
    background-position: center;
    background-repeat: no-repeat;
} 

.text-center{

    padding-top: 18rem;
  }
  
.Left-button{

    border-radius: 3.5rem;
    border: 0rem;
    width: 16rem;
    height: 2.6rem;
    background-color: rgba(23, 26, 32, 0.8);
    color: aliceblue;
    font-size: small;
    font-weight: 600;
}
.Right-button{

    border-radius: 3.5rem;
    border: 0rem;
    width: 16rem;
    height: 2.6rem;
    font-size: small;


}
.navbar-nav {
 
    padding-left: 3rem;

}
.page1{
    background-image:url(images/car-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
  

}
.page2{
    background-image:url(images/car-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    

}
.page3{
    background-image: url(images/car-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
   
}

.page4{
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(images/solar.jpg);
   
}

.page-1{
    background-image: url(images/back-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
} 

.page-2{
    background-image:url(images/back-2.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100hv;
    color: white;
}
.page-3{

    background-image:url(images/back-3.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100hv;
}
.page-4{

    background-image:url(images/back-4.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}


.row{

    padding-top: 20rem;
    padding-left: 4rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mytop{

    padding-top: 12rem;
}
.nav-link:hover{

    background-color: rgba(51, 51, 56, 0.089);
    border-radius: 100px;
       
}



body {
	font-family: 'Montserrat', sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

